# AI ENGINEER’S TAKE-HOME TEST AB-INBEV - February, 2024

# TASK 1

### Import Libraries

In [1]:
import pytesseract
import cv2
import pandas as pd
from PIL import Image

### Define Functions

#### Use Pytesseract To Get OCR Data - Extract Text - Set The Configuration

In [2]:
def extract_text(image_path, config="--psm 11 --oem 3"):
    
    # Text extraction using pytesseract
    text = pytesseract.image_to_string(Image.open(image_path), config=config)
    
    # Split the extracted text line by line 
    return [line.strip() for line in text.split('\n\n') if line.strip()]

#### Create Dictionary and return Date Issued, Items & Total Amount

In [3]:
def create_dictionary(info_list, date_index, items_indices, total_index):
    return {'Date Issued': info_list[date_index],
            'Items': [info_list[i] for i in items_indices], 
            'Total Amount': info_list[total_index]}

### Process the Receipt Images

#### Set Image Paths

In [4]:
image_paths = ["C:/Users/Akunna Anyamkpa/Downloads/Task 1/Receipt1.jpg",
               "C:/Users/Akunna Anyamkpa/Downloads/Task 1/Receipt2.jpg",
               "C:/Users/Akunna Anyamkpa/Downloads/Task 1/Receipt3.jpg"]

#### Let's View The Extracted Text For Each Receipts

In [5]:
config="--psm 11 --oem 3"

# RECEIPT 1
Receipt1_text = pytesseract.image_to_string(Image.open("C:/Users/Akunna Anyamkpa/Downloads/Task 1/Receipt1.jpg"), config=config)

print(Receipt1_text)

ee

East Repair Inc.

1912 Harvest Lane

New York, NY 12210

BILLTO

SHIP TO

RECEIPT #

uUs-001

John Smith,

John Smith

1102/2019

RECEIPT DATE

2 Court Square

3787 Pineview Drive

P.O#

2312/2019

New York, NY 12210

Cambridge, MA 12210

DUE DATE

26/02/2019

Receipt Total

$154.06

Qty

DESCRIPTION

UNIT PRICE

AMOUNT

Front and rear brake cables

100.00

100.00

New set of pedal arms

15.00

30.00

Labor 3hrs

5.00

15.00

Subtotal

145.00

Sales Tax 6.25%

9.08

fish

TERMS & CONDITIONS

Payment is due within 15 days

Please make checks payable to: East Repair Inc.

In [6]:
# RECEIPT 2
Receipt2_text = pytesseract.image_to_string(Image.open("C:/Users/Akunna Anyamkpa/Downloads/Task 1/Receipt2.jpg"), config=config)

print(Receipt2_text)

ABC Furniture Co

101 Tree Street

Leafy Vale

Forrest Town X1203Y

Phone:

987 12345678

Emai

abcfurn @allmail.com

Fax:

987 8765 4321

Website:

www.ab cfurn.allcom

Receipt

Mrs Annie Green

Date:

01/01/2013

5 Any Street

Reference:

AG500

Good Suburb

Receipt No.

001020

Forrest Town X2204Y

‘Amount Paid

Description

2 single pine beds— Style 394

Notes

350.00

2.25

Signed:

E Murphy for ABC Furw Ce:

Total Paid

$352.25

Received with thanks!

In [7]:
# RECEIPT 3
Receipt3_text = pytesseract.image_to_string(Image.open("C:/Users/Akunna Anyamkpa/Downloads/Task 1/Receipt3.jpg"), config=config)

print(Receipt3_text)

WALL-MART-SUPERSTORE

(888) 888 - 8888

MANAGER TOD LINGA

888 WALL STORE ST

WALL ST CITY, LA 88888

STH 2323 OPE

23432436 TEE

51

TRE 4354

HAND TOWEL

075953630184

2.97X

GATORADE

068949055223

2.00 X

T-SHIRT

036231852452

16.88 X

PUSH PINS

(088348997350

1.24

SUBTOTAL

23.09

TAK 1

7.89%

2.90

TAK 2

490%

128

TOTAL

a2

CREDIT TEND

an

CHANGE. DUE

0.00

ACCOUNT &

beak chee 0449999

APPROVAL # 77W166

REF # 307171075528

TERMINAL # 6419885359

# ITEMS SOLD 4

Tek 1752 6627 3145 9811 0000

I

l

I

ll

I

It

Get Fre

Holiday Savings by Cell!

Thank You for Shopping With Us!

10/17/2020

16:12

‘tes CUSTOMER COPY seve

#### Create Empty Dictionary

In [8]:
image_dicts = []

#### Using a for Loop, Extract the Receipt Texts using the Extraction Function, Add texts to the Dictionary and Print the Result.

In [9]:
for path in image_paths:
    info_list = extract_text(path)
    
    if path.endswith("Receipt1.jpg"):
        date_index, items_indices, total_index = 10, [26, 29, 32], 21
    elif path.endswith("Receipt2.jpg"):
        date_index, items_indices, total_index = 15, [25], 32
    elif path.endswith("Receipt3.jpg"):
        date_index, items_indices, total_index = 51, [9, 12, 15, 18], 30
        
    # Add Elements to  and create the Receipt Image Dictionary
    image_dict = create_dictionary(info_list, date_index, items_indices, total_index)
    image_dicts.append(image_dict)

# Print the Result (Extracted Text Stored in Dictionary)
for i, image_dict in enumerate(image_dicts, start=1):
    print(f"Image {i} Dictionary: {image_dict}")

Image 1 Dictionary: {'Date Issued': '1102/2019', 'Items': ['Front and rear brake cables', 'New set of pedal arms', 'Labor 3hrs'], 'Total Amount': '$154.06'}
Image 2 Dictionary: {'Date Issued': '01/01/2013', 'Items': ['2 single pine beds— Style 394'], 'Total Amount': '$352.25'}
Image 3 Dictionary: {'Date Issued': '10/17/2020', 'Items': ['HAND TOWEL', 'GATORADE', 'T-SHIRT', 'PUSH PINS'], 'Total Amount': 'a2'}

# TASK 2

### Open the Image

In [10]:
image_path = "C:/Users/Akunna Anyamkpa/Downloads/Task 2/Task2.jpeg"
img = cv2.imread(image_path)

### Use pytesseract to get OCR data - Bounding Boxes inclusive

In [11]:
custom_config = r'--psm 11 --oem 3'
ocr_data = pytesseract.image_to_data(Image.open(image_path), config=custom_config, output_type=pytesseract.Output.DICT)

### Extract Text and Y_max Coordinates

In [12]:
texts = []
y_max_values = []

for i in range(len(ocr_data['text'])):
    text = ocr_data['text'][i].strip()
    if text:
        texts.append(text)
        x, y, w, h = ocr_data['left'][i], ocr_data['top'][i], ocr_data['width'][i], ocr_data['height'][i]
        y_max_values.append(y + h)

### Combine text and y_max coordinates into a DataFrame

In [13]:
df = pd.DataFrame({"Text": texts, "Y_Max": y_max_values})
df.head(10)

       Text  Y_Max
0      Sis,    261
1       you    264
2       owe    254
3        it    254
4        to    254
5  yourself    341
6        to    331
7      feel    331
8       the    331
9      best    408

### Sort the DataFrame based on Y_Max (descending order)

In [14]:
df_sorted = df.sort_values(by="Y_Max", ascending=False)
df_sorted.head(10)

      Text  Y_Max
37   year.   1111
36    your   1111
35      is   1024
34    This   1024
33    had.   1024
32    ever   1024
31  you've    957
29   money    957
30    than    947
28    more    870

### Save the DataFrame to a CSV file

In [15]:
csv_path = "C:/Users/Akunna Anyamkpa/Downloads/Task 2/Task2_data_output.csv"
df_sorted.to_csv(csv_path, index=False)

### Print the Path to the Saved CSV

In [16]:
print("Dataframe saved to CSV:", csv_path)

Dataframe saved to CSV: C:/Users/Akunna Anyamkpa/Downloads/Task 2/Task2_data_output.csv

## REFERENCES

* NeuralNine: https://www.youtube.com/watch?v=PY_N1XdFp4w&t=1375s
* Python Tutorials for Digital Humanities https://www.youtube.com/watch?v=DXYPXZH2eGE&list=PL2VXyKi-KpYuTAZz__9KVl1jQz74bDG7i&index=6